.col-8 {
	background-color: purple;
}
.col-4 {
	background-color: green;
}

.col-md-6 {
	background-color: #1b7890;
}

.offset-md-4 {
	background-color: #3c46;
}

.col-sm-9 {
	background-color: red;
}

.col-sm-3 {
	background-color: yellow;
}

.offset-md-0 {
	background-color: #4a7890;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

p {
	color: #4b7890;
}

.clearfix {
	margin: 100px;
	padding: 0 100px 0 100px;
}

img {
	width: 150px;
	margin: 30px;
}